
nav {
    background-color: white;
    grid-area: nav;
    border: black solid 1%;
}
aside{
    background-color: rgb(255, 255, 255);
    grid-area: aside;
    border: black solid 1%;
}
main {
    background-color: whitesmoke;
    color: white;
    grid-area: main;
    text-align: center;
    
}
header {
    background-color: rgb(26, 150, 117);
    color: white;
    grid-area: header;
    padding: 20px;
    text-align: center;
    border-radius: 30em;
    margin-left: 1%;
    margin-right: 1%;
}
footer {
    background-color: rgb(26, 150, 117);
    grid-area: footer;
    color: rgb(255, 255, 255);
}
.wrapper{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                        "nav main main aside"
                        "footer footer footer footer";
}
img{
    width: 45%;
    height: auto;
    border-radius: 100%;
}