
nav {
    background-color: white;
    grid-area: nav;
    border: black solid 1%;
    text-align: center;
    border-radius: 2em;
    margin-top: 2em;
}
aside{
    background-color: rgb(255, 255, 255);
    grid-area: aside;
    border: black solid 1%;
    margin: 2%;
    font-size: 1.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2em
}
main {
    background-color: whitesmoke;
    color: white;
    grid-area: main;
    text-align: center;
}
header {
    background-color: rgb(26, 150, 117);
    color: white;
    grid-area: header;
    padding: 20px;
    text-align: center;
    border-radius: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: rgb(26, 150, 117);
    grid-area: footer;
    color: rgb(255, 255, 255);
    border-radius: 2em;
}
.wrapper{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                        "nav main main aside"
                        "footer footer footer footer";
}
img{
    width: 45%;
    height: auto;
    border-radius: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
a{
    text-decoration: none;
    color: black;
    margin-top: 10%;
}
li{
    list-style: none;
    margin-top: 15%;
    margin-bottom: 15%;
    
}
li a{
    padding: 10% 10% 10% 10%;
    border-radius: 2em;
    margin-top: 10%;
    width: 20%;
}
li a:hover{
    background-color: rgb(26, 150, 117);
}
ul{
    text-align: center;
}