nav {
    background-color: yellow;
    grid-area: nav;
    display: block;
    float: left;
}
aside{
    background-color: lightgreen;
    grid-area: aside;
}
main {
    background-color: darkblue;
    color: white;
    grid-area: main;
    
}
header {
    background-color: blue;
    color: white;
    grid-area: header;
    padding: 20px;
}
footer {
    background-color: darkgreen;
    grid-area: footer;
    color: white;
}
.wrapper{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                        "nav nav nav"
                        "main main aside"
                        "footer footer footer";
}
ul{
    list-style: none;
    padding: 2%;
    padding-bottom: 3%;
}

a{
    float: left;
    margin-left: 20%;
}